/*
 Theme Name:     Responsive internet israel sub theme
 Theme URI:      http://www.internet-israel.com
 Description:    Responsive internet israel sub theme
 Author:         Ran Bar-Zik
 Author URI:     http://www.internet-israel.com
 Template:       responsive
 Version:        1.0.0
*/
body.front-page #wrapper {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	clear: both;
	margin: 20px auto 20px auto;
	padding: 0 20px 20px 20px;
	position: relative;
}

.rpwe-block ul {
    list-style: none!important;
    margin-left: 0!important;
    padding-left: 0!important;
}
.rpwe-block img {
	float: right;
}
.rpwe-block li {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.rpwe-block a {
    display: inline!important;
    text-decoration: none;
}
.rpwe-block h3 {
    background: none!important;
    clear: none;
    margin-bottom: 0!important;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
}
.rpwe-thumb {
    border: 1px solid #EEE!important;
    box-shadow: none!important;
    margin: 2px 10px 2px 0;
    padding: 3px!important;
}
.rpwe-time {
    color: #bbb;
    font-size: 0.9em;
}
.rpwe-alignleft {
    display: inline;
    float: left;
}
.rpwe-alignright {
    display: inline;
    float: right;
}
.rpwe-alignnone {
    display: block;
    float: none;
}
.rpwe-clearfix:before,
.rpwe-clearfix:after {
    content: "";
    display: table;
}
.rpwe-clearfix:after { clear: both }
.rpwe-clearfix { zoom: 1 }


a:focus {
	outline: 1px solid grey;
}

body .featured-title {
	padding-top: 0;
}

/* =Theme customization starts here
-------------------------------------------------------------- */